<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <bean id="redService" class="com.base.colors.RedService" />
    <bean id="greenService" class="com.base.colors.GreenService" />

    <bean id="squareFigure" class="com.base.figures.SquareFigure">
        <constructor-arg ref="redService"/>
    </bean>

    <bean id="triangleFigure" class="com.base.figures.TriangleFigure">
        <property name="colorService" ref="greenService" />
    </bean>

    <bean id="allFigures" class="com.base.AllFigures">
        <property name="figureList">
            <list>
                <ref bean="squareFigure"/>
                <ref bean="triangleFigure"/>
            </list>
        </property>
    </bean>

</beans>